################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GetOtpApp/bin
/GetOtpApp/obj
/GetOtpApp/Properties
/.vs
/DosiApp/bin/Debug
/DosiApp/obj/Debug
